@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
   --Font:#e5e5e5; 
   --colorprimario:#0a3871;
   --colorsecundario:#f3f5fc;
   --colortercero:#c5c5c5;
   --colorcuarto:#67808e;
   --colorquinto:rgba(0,0,0,0.08);
   --colorsexto:#d8dfe8;
   --colorseptimo:#0a38718a;
   --coloroctavo:#343a40;
   --colorgris:#495057;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    background: var(--colorsecundario);
}
body{
    height: 100%;
}
img{
    max-width: 100%;
}
header{
    position: absolute;
    margin: 40px 0px 0px 0px;
}
header .logo{
    display: flex;
    align-items: flex-start;
    width: 120px;
    height: 48px;
}
main{
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-position: center;
}
.encriptador{
    width: 60%;
    margin: 168px 0px 0px 140px;
    background: transparent;
}
.encriptar{
    width: 660px;
    height: 288px;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    outline: none;
    border: 1px solid var(--colortercero);
    border-radius: 15px;
    resize: none;
}
.encriptador::placeholder:focus{
    color: var(--colorprimario);
}
.encriptadorAviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    top: 500px;
}
.textoAviso{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    opacity: 0.8;
    color:var(--colorcuarto);
}
.encriptadorContenedor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 526px;
}
.btnEncriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--colorsecundario);
    background: var(--colorprimario);
    border: 1px solid var(--colorprimario);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--colorquinto);
}
.btnEncriptar:active{
    box-shadow: inset 2px 2px 4px var(--Font),
    inset -3px -4px 8px var(--colorprimario);
    color: var(--colorsexto)
}
.btnDesencriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--colorprimario);
    background: var(--colorsecundario);
    border: 1px solid var(--colorprimario);
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0px 20px 29px -5px var(--colorquinto);
}
.btnCopiar:active,
.btnDesencriptar:active{
    box-shadow: inset 2px 2px 4px var(--colorprimario),
    inset -3px -4px 8px var(--Font);
    color: var(--colorseptimo);
}
.tarjeta{
    width: 270px;
    height: 580px;
    background: var(--Font);
    box-shadow: 10px 24px 32px -8px var(--coloroctavo);
    position: relative;
    margin-top: 40px;
    border-radius: 32px;
    text-align: center;
}
.tarjetaContenedor{
    width: 250px;
    margin: auto;
    margin-top: 50%;
    background: var(--Font);
}
img.Muneco{
    background: var(--Font);
}
.textoUno{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: var(--colorcuarto);
    background: var(--Font);
}
.textoDos{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--coloroctavo);
    background: var(--Font);
}
.evaluar{
    width: 100%;
    height: 485px;
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color:var(--colorgris);
    background: transparent;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;;
    border: none;
    resize: none;
}
.evaluar:focus{
    outline: none;
}
.btnCopiar{
    width: 224px;
    height: 67px;
    margin: 23px;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    padding: 24px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: var(--colortercero);
    border: 1px solid var(--colorprimario);
    border-radius: 20px;
    cursor: pointer;
}
.btnEncriptar:hover,
.btnDesencriptar:hover,
.btnCopiar:hover{
    transform: scale(0.97);
}
footer{
    margin-top: 15px;
    padding: 10px;
    border-top: 2px solid var(--Font);
    color: var(--coloroctavo);
    text-align: center;
    height: 5px;
    font-size: 20px;
    font-weight: 700;
    color: var(--coloroctavo);
}
.linked:hover{
    color: var(--colorcuarto);
    opacity: 0.6%;
}
.git:hover{
    color: var(--colorcuarto);
    opacity: 0.6%;
}
@media(max-width: 1250px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .encriptador{
        margin: 168px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .encriptadorContenedor{
        display: flex;
        align-items: center;
        position: inherit;
    }
    .encriptadorAviso{
        position: inherit;
        margin: 15px;
    }
    .tarjeta{
        width: 665px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .tarjetaContenedor{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 20%;
        font-size: 24px;
        font-weight: 700;
    }
    .imgMuneco{
        display: none;
    }
    .btnCopiar{
        position: inherit;
        width: 100%;
    }
    .evaluar{
        width: 100%;
        height: 210px;
        padding: 10px;
    }
}
@media(max-width: 720px){
    header .logo{
        width: 100%;
        background: var(--colorsecundario);
        padding: 2px;
    }
    .encriptar{
        width: 90%;
        font-size: 24px;
    }
    .encriptadorContenedor{
        display: grid;
        gap: 21px;
    }
    .tarjeta{
        width: 90%;
    }
    .copyrigth{
        font-size: 20px;
    }
}